.about__text-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .about__text-container {
    margin-top: 30px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .about__text-container {
    margin-top: 50px;
  }
}

