.footer__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 630px) {
  .footer__nav-container {
    align-items: center;
  }
}


