.intro__error {
  display: block;
  position: absolute;
  top: 55px;
  left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
  margin: 3px 0 0;
  box-sizing: border-box;
}

@media screen and (min-width: 534px) {
  .intro__error {
    top: 60px;
    left: 25px;
  }
}