.user-info__container {
  padding-top: 10px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .user-info__container {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .user-info__container {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}